mixin main-img()
	section.main-img
		.main-img__content
			.main-img__title Найдите своего Подрядчика не выходя из дома!
			a(href="#" title="" data-click="modal" data-item="#specialization").change-specialisation Выбрать специализацию
			a(href="#" title="").btn.btn--search Найти Подрядчика